<div class="product-container" *ngIf="product">

  <!-- LEFT IMAGE -->
  <div class="left">
    <img [src]="product.imageUrl" alt="product image" />
  </div>

  <!-- RIGHT DETAILS -->
  <div class="right">

    <span class="category">{{ product.category }}</span>

    <h1>{{ product.name }}</h1>

    <h4>{{ product.brand }}</h4>

    <p>{{ product.description }}</p>

    <hr />

    <h2>₹ {{ product.price }}</h2>

    <button
      class="btn btn-primary"
      [disabled]="!canAddToCart(product)"
      (click)="addToCart(product)">
      {{ isInStock(product) ? 'Add to cart' : 'Out of Stock' }}
    </button>

    <p><strong>Stock Available :</strong> {{ product.stockQuantity }}</p>

    <p><strong>Product listed on :</strong> 
      {{ product.releaseDate | date:'medium' }}
    </p>

    <div class="actions">
      <button class="btn btn-primary" (click)="updateProduct()">Update</button>
      <button class="btn btn-danger" (click)="deleteProduct()">Delete</button>
    </div>

  </div>

</div>
