<div class="container">
  <div class="center-container">

    <form (ngSubmit)="submit()">

      <input type="text" class="form-control mt-2" placeholder="Name" [(ngModel)]="product.name" name="name" />

      <input type="text" class="form-control mt-2" placeholder="Brand" [(ngModel)]="product.brand" name="brand" />

      <input type="text" class="form-control mt-2" placeholder="Description" [(ngModel)]="product.description" name="description" />

      <input type="number" class="form-control mt-2" placeholder="Price" [(ngModel)]="product.price" name="price" />
      <select [(ngModel)]="product.category" name="category" class="form-control mt-2">
        <option value="">Select</option>
        <option value="laptop">Laptop</option>
        <option value="mobile">Mobile</option>
        <option value="headphone">Headphone</option>
        <option value="electronics">Electronics</option>
        <option value="toys">Toys</option>
        <option value="fashion">Fashion</option>
      </select>

      <input type="number" class="form-control mt-2" placeholder="Stock" [(ngModel)]="product.stockQuantity" name="stockQuantity" />

      <input type="date" class="form-control mt-2" [(ngModel)]="product.releaseDate" name="releaseDate" />

      <input type="file" class="form-control mt-2" (change)="onFileChange($event)" />
      <div *ngIf="previewUrl" class="mt-3 text-center">
        <img [src]="previewUrl" width="200" style="border-radius:10px;" />
      </div>

      <button class="btn btn-primary">Submit</button>

    </form>

  </div>
</div>